<div class="auth" *ngIf="isAuth === false">
    <div class="form" *ngIf="toRegister === false">
        <div class="border">
            <div class="font">login</div>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <input class="input" placeholder="Name" formControlName="login" required><br><br>
                <input class="input" placeholder="password" type="password" formControlName="password"  required><br><br><br>
                <button class="login-btn" type="submit" [disabled]="loginForm.invalid">Sign in</button>
                <h2 class="errors">{{errors}}</h2>
            </form>
            <h2 class="reg-page-text" (click)="toRegisterLogin()">Don't have an account yet?<b>Register.</b></h2>
        </div>
    </div>
    <div class="form" *ngIf="toRegister === true">
        <div class="border">
            <div class="font">register</div>
            <form [formGroup]="registerForm" (ngSubmit)="register()">
                <input class="input" placeholder="name" type="text" formControlName="name" required><br><br>
                <input class="input" placeholder="login" type="text" formControlName="login" required><br><br>
                <input class="input" placeholder="age" type="number" formControlName="age" required><br><br>
                <input class="input" placeholder="phone" type="phone" formControlName="telephone" required><br><br>
                <input class="input" placeholder="Email" type="email" formControlName="email" required><br><br>
                <input class="input" placeholder="password" type="password" formControlName="password"  required><br><br><br>
                <button class="login-btn" [disabled]="registerForm.invalid" type="submit">Sign up</button>
                <h2 class="errors">{{errors}}</h2>
            </form>
            <h2 class="reg-page-text" (click)="toRegisterLogin()">If you already have account, you can <b>login.</b></h2>
        </div>
    </div>
</div>
<div class="form" *ngIf="isAuth === true">
    <div class="border-logout">
        <h2 class="reg-page-text">You have already registered <b (click)="logout()">Logout</b></h2>
    </div>
</div>
