.map-container {
    padding-left: 20px;
    display: flex;
    align-items: center;
  }
  
  .map-frame {
    border: 2px solid rgb(31, 109, 31);
    height: 660px;
    width: 80%
  }
  
  #map {
    height: 100%;
  }