<div class="content">
    <div class="border">
        <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
          <div class="info">
            <img src="../../assets/eco-icon.svg" (click)="toCalendar()">
            <p>{{info.name}}</p>
            <p>{{info.description}}</p>
            <input type="date" class="date_input" name="trip-start"
                value="{{info.date | date: 'yyyy-MM-dd'}}"
                min="{{info.date | date: 'yyyy-MM-dd'}}" max="{{info.date | date: 'yyyy-MM-dd'}}" disabled>
            <p>lat: {{info.latitude}}</p>
            <p>lng: {{info.longitude}}</p>
            <button (click)="deleteEvent()" class="delete-btn">Delete</button>
          </div>
    </div>
</div>