* {
    outline:none;
}
.date_input {
    width: max-content;
    height: max-content;
    background: #C0FFDE;
    border: 2px solid #000000;
    box-sizing: border-box;
    font-family: Montserrat;
    font-style: normal;
    font-size: 30px;
    padding-left: 20px;
    border-radius: 2rem;
}

p {
    font-family: Montserrat;
    font-style: normal;
    font-size: 24px;
}
div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.border {
  display:flex;
    width: 700px;
    border-radius: 15px;
    box-sizing: border-box;
}

  .info {
    padding-left: 10%;
  }
  agm-map {
    display: inline;
    height: 400px;
    width: 400px;
  }