<div class="header">
    <div class="header-title">green place</div>
    <img src="../../assets/leaf-header-left.svg" class ="leaf-left" alt="leaf">
    <img src="../../assets/leaf-header-right.svg" class ="leaf-right" alt="leaf">
</div>
<div class="menu">
    <div class="menu-item first-item">recycling</div>
    <div class="menu-item">events</div>
    <div class="menu-item">parks</div>
    <div class="login-btn">login</div>
</div>
<div class="main">
    <div class="about">
        <hr><h1 class="title">About US</h1><hr>
    </div>
    <div class="text">
        international eco portal  that can make world is little bit more clean
    </div>
    <div class="about">
        <hr><h1 class="title">Popular posts</h1><hr>
    </div>
    <app-blog></app-blog>
</div>
<div class="footer">
    <img src="../../assets/recycle-icon.svg">
    <div class="footer-text">green place</div>
    <img  src="../../assets/leaf-header-left.svg">
    <img  src="../../assets/leaf-header-right.svg">
</div>