$header-text : Post No Bills Jaffna Light;
$content-text : Post No Bills Jaffna Light;
.read_more {
    font-family: $header-text;
    font-size: 24px;
    margin-left: 40px;
    background: #C0FFDE;
    border: 2px solid #000000;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 20px;
}
.read_more:hover {
    background-color: yellow;
}
.title {
    color: #006674;
    font-family: $header-text;
    font-size: 24px;
    text-align: center;
}
.content {
    color: #000;
    font-family: $content-text;
    font-size: 18px;
    text-align: left;
}
hr {
    width: 60%;
    height: 0px;
    border: 1px solid #000000;
    margin-top: 20px;
    
}

.main-posts {
    display: flex;
}
.post {
    margin-left: 5%;
    
}
.img {
        width: 64;
        height: 64;
}
.delete-btn {
    border-radius: 90px;
    font-family: $header-text;
    font-size: 24px;
    margin-left: 40px;
    background: #C0FFDE;
    border: 2px solid #000000;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 20px;
}
.add-post {
    font-family: $header-text;
    font-size: 24px;
    margin-left: 40px;
    background: #C0FFDE;
    border: 2px solid #000000;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 20px;
}
.add-post:hover {
    background-color: yellowgreen;
    color: white;
}
.delete-btn:hover {
    color: rgb(255, 255, 255);
    background-color: red;
}